<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> APP IONIC </ion-title>
  </ion-toolbar>
</ion-header>

<div class="">
  <label for="">MEDIDAS CUADRADO</label>
  <div>
    <input
      placeholder="0"
      onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
      min="0"
      maxlength="3"
      type="text"
      [(ngModel)]="width"
    />
    <input
      placeholder="0"
      onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
      min="0"
      maxlength="3"
      type="text"
      [(ngModel)]="height"
    />
  </div>

  <div>
    <h1>Posicion inicial del rover</h1>
    <h2>Orientacion</h2>
    <input type="text" [(ngModel)]="orientationInitial" />
  </div>

  <div>
    <h1>Coordenadas Iniciales Rover</h1>
    <input type="text" [(ngModel)]="widthInitial" />
    <input type="text" [(ngModel)]="heightInitial" />
  </div>

  <div>
    <h1>Array de orders (L, A, R)</h1>
    <input type="text" [(ngModel)]="orders" />
  </div>
  <div><button (click)="startTrip()">START</button></div>
</div>
<div class="square" [style.width]="getWidth()" [style.height]="getHeight()">
  <app-rover
    class="rover"
    [orientation]="getOrientation()"
    [style.left]="getLeft()"
    [style.bottom]="getBottom()"
  ></app-rover>
</div>
